@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackingSystem</title>
    <link rel="stylesheet" href="~/assets/Auth/AuthLogin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">

            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <form>

                                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                            <div class="form-outline form-white mb-4">
                                                
                                                <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="UserName"/>
                                               
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                
                                                <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password"/>
                                                
                                            </div>



                                            <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Login"></input>


                                        </form>

                                    </div>

                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>
    </div>
</body>
</html>
