
<a class="btn btn-success mb-2" asp-area="Admin" asp-controller="Dashboard" asp-action="AddCountry" asp-route-id="2">Add country</a>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
        <a class="btn btn-warning">Edit</a>
        <a class="btn btn-danger">Remove</a>
    </div>